@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {

--Gray-950: hsl(0, 0%, 17%);
--Gray-400: hsl(0, 0%, 58%);

}

.main-container{
    width: 100%;
    height: 100vh;
}

.header-container{
    width: 100%;
    height: 400px;

}

.header-container-img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(/images/pattern-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.buscador-container{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.buscador-title{
    color: white;
    font-weight: 500;
    text-align: center;
}

.buscador-conjunto{
    display: flex;
}

.buscador{
    width: 80%;
    height: 60px;
    padding-left: 30px;
    font-size: 20px;
    border: none;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}

.buscador-btn{
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    border-top-right-radius:13px;
    border-bottom-right-radius: 13px;
    cursor: pointer;
}

.buscador-img{
    background-image: url(/images/icon-arrow.svg);
    background-color: black;
}

/*--------------- Contenedor de informacion -------------------*/

.information-set{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    border-radius: 20px;
    top: 45%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.information-container{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 13px;
}

.information-title{
    color: gray;
    font-size: 15px;
    font-weight: 600;
}

.information-api{
    font-weight: 500;
    font-size: 19px;
}

/*---------------- Contenedor del mapa ------------------------*/

.map-container{
    width: 100%;
    height: 60%;
}

.principal__map{
    height: 100%;
    height: 100%;
    z-index: 2;
}

/*--------------------Media queries----------------------*/
@media (min-width: 900px){

    .header-container{
        height: 40%;
    }

    .header-container-img{
        background-image: url(/images/pattern-bg-desktop.png);
    }

    .buscador-container{
        justify-content: center;
        align-items: center;
    }

    .buscador-conjunto{
        width: 40%;
    }

    .buscador{
        width: 100%;
    }

    /*-- information container --*/
    .information-set{
        height: 21%;
        top: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .information-container{
        height: 100%;
        align-items: flex-start;
        padding-left: 30px;
        border-radius: 0;
        text-align: start;
    }

    .gray-line{
        border-right: 1px solid rgb(202, 202, 202);
    }


    .information-title{
        font-size: 18px;
    }

    .information-api{
        font-size: 24px;
    }


}


/*Media queries para pantallas verticales grandes*/
@media (min-height: 800px) and (orientation: portrait) {

    /*header*/
    .buscador-container{
        margin-top: 25%;
    }

    /*main*/
    .information-set{
        width: 92%;
        height: 10%;
    }

}